*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaRennerRegular';
  src: url('./assets/fonts/FuturaRenner-Regular.woff2') format('woff2'),
    url('./assets/fonts/FuturaRenner-Regular.woff') format('woff'),
    url('./assets/fonts/FuturaRenner-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaRennerLight';
  src: url('./assets/fonts/FuturaRenner-Light.woff2') format('woff2'),
    url('./assets/fonts/FuturaRenner-Light.woff') format('woff'),
    url('./assets/fonts/FuturaRenner-Light.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'FuturaRennerRegular', Arial, sans-serif;
  background-color: hsl(234, 75%, 19%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.recipe-item {
  display: flex;
  align-items: center;
}

.recipe-item::before {
  content: '🇨🇭';
  margin-right: 0.5em;
}

.title-main {
  font-size: 4rem;
  text-align: center;
  color: hsl(60, 100%, 58%);
}

.title-recipe {
  font-size: 3rem;
  text-align: center;
  color: hsl(60, 100%, 58%);
}

.recipe-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.recipe-link {
  text-decoration: none;
}
