*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FuturaRennerRegular';
  src: url('./assets/fonts/FuturaRenner-Regular.woff2') format('woff2'),
    url('./assets/fonts/FuturaRenner-Regular.woff') format('woff'),
    url('./assets/fonts/FuturaRenner-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaRennerLight';
  src: url('./assets/fonts/FuturaRenner-Light.woff2') format('woff2'),
    url('./assets/fonts/FuturaRenner-Light.woff') format('woff'),
    url('./assets/fonts/FuturaRenner-Light.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'FuturaRennerRegular', Arial, sans-serif;
  background-color: hsl(234, 75%, 19%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  line-height: 1.7;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}

a {
  color: inherit;

  cursor: pointer;
}

.title {
  text-align: center;
}

.title-steps {
  font-size: 2.5rem;
  color: hsl(60, 100%, 85%);
  font-family: 'FuturaRennerLight';
}

.title-main {
  font-size: 4rem;
  color: hsl(60, 100%, 58%);
  border-bottom: 2px solid hsl(60, 100%, 58%);
}

.title-recipe {
  font-size: 3rem;
  color: hsl(60, 100%, 58%);
  border-bottom: 2px solid hsl(60, 100%, 58%);
}

/* RECIPE LIST / */

.recipe-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 6rem 0;
}

.recipe-link {
  text-decoration: none;
  font-size: 1.5rem;
}

.recipe-link:hover {
  text-decoration: underline;
}

.recipe-item {
  display: flex;
  align-items: center;
}

.recipe-item::before {
  /* content: '🇨🇭'; */
  margin-right: 0.5em;
}

.recipe-item[data-id='kombucha']::before {
  content: '🍹';
}

.recipe-item[data-id='zurich-meat']::before {
  content: '🇨🇭';
}

.recipe-item[data-id='three-bean-salad']::before {
  content: '🥗';
}

.recipe-item[data-id='chicken-bulghur']::before {
  content: '🐔';
}

.recipe-item[data-id='newfoundland']::before {
  content: '🐟';
}

/* RECIPE LIST \ */

.origin-link {
  text-align: center;
}

.recipe-intro,
.recipe-ing,
.recipe-directions,
.recipe-cont {
  margin: 2.5em 0;
}

.data-origin {
  text-align: center;
}
